<div class="ui container">
  <h2 class="ui header">Contributions History</h2>
  <% if top_five.length > 0 %>
    <article>
      <h3 class="ui header">Top Contributors</h3>
      <p>And the <i>Trigger Happy Hat</i> goes to...</p>
      <ul id="podium">
        <% top_five.each_with_index do |contributor, index| %>
        <li class="top-<%= index %>">
          <%= image_tag contributor.avatar_url, alt: contributor.username %>
          <h3><%= "#{index+1}. #{contributor.username}" %></h3>
          <p><strong><%= contributor.avg_contributions %></strong> contributions per day aprox.</p>
          <p><strong><%= contributor.contributions_number %></strong> total contributions.</p>
        </li>
        <% end %>
      </ul>
    </article>

    <article>
      <h3 class="ui header">Contributions Number Chart</h3>
      <canvas id="contributors-chart"></canvas>
    </article>
  <% else %>
    <article>
      <h3 class="ui header">
        <i class="meh icon"></i>
        <div class="content">
          There's not registered contritutions for the last selected days
        </div>        
      </h3>
    </article>
  <% end %>
</div>
  