<h1>Trigger Happy Hat</h1>
<%= form_tag(top_five_path, method: "post") do %>
  <%= label_tag(:username, "Company's name:") %>
  <%= text_field_tag(:username) %>
  <br>
  <%= label_tag(:days, "Know contributions from last:") %>
  <%= number_field_tag(:days) %>
  <span>&nbsp;days</span>
  <br>
  <%= submit_tag("Search") %>
<% end %>